<div style="text-align:center">
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/contactus">Contact Us</a>
  </nav>
  <h1>UpperCase Value</h1>
     <b>Welcome to {{ title | uppercase }}.</b><br>
   <h1>Lower Case</h1> 
    <b> {{ title | lowercase}}</b><br>
    <h1>Currency pipe</h1>
    <b>{{6589.23 | currency: "USD" }}</b><br>
    <b>{{6589.23 | currency: "USD":true }}</b><br>
    <b>{{6589.23 | currency: "INR" }}</b><br>
    <h1>Data Pipe</h1>
    <b>{{todaydate | date:'d/m/y'}}</b><br>
    <b>{{todaydate | date:'shortTime'}}</b><br>
    <h1>Decimal Pipe</h1>
    <b>{{421.123123132 | number:'2.3-3' }}</b>
    <div  >
      <h1>Json Pipe</h1>
      <b>{{ jsonval | json }}</b>
      <h1>Percent Pipe</h1>
      <b>{{00.54565 | percent}}</b>
      <h1>Slice Pipe</h1>
      <b>{{months | slice:2:6}}</b>
      </div>
    <h1>SQRT CUSTOM</h1>
    <b>{{100 | sqrt }}</b>
    <b>{{729 | sqrt }}</b>
</div>
  <div>Months:
    <select (change)="changemonths($event)" name="month">
      <option *ngFor = "let i of months">{{i}}</option>
    </select>
  </div>
  <br>
  <div>
  <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.</span>
  <ng-template #condition1>Condition1 is valid from template</ng-template>
  <ng-template #condition2>Condition2 is invalid from template</ng-template>
</div>  
<div style="text-align: center;">
<span changeText >Welcome to {{ title | uppercase }}.</span></div>

<app-new-cmp></app-new-cmp>
<router-outlet></router-outlet>
<button (click)="myClickFunction($event)">
  Click Me
  </button>
  